fieldset {
	padding: 1em;
	border-radius: 10px;
	margin-bottom: 10px;
}

legend {
	font-size: 25px;
}

label {
	display: inline-block;
	width: 50px;
	text-align: right;
}
.checkboxradio label {
	display: inline;
}

@media screen and (max-width:300px){

	label {
       
      display: block; 
	}
}

