html {
    background-color: pink;
}
	body {
		background-color: white;
		width: 800px;
		text-align: center;
		margin: auto;
        display: flex;
        flex-wrap: wrap;
        outline:5px solid red;

	}
	nav, header, [role="main"], footer {
		outline: 1px solid green;
	}

   header {
   	height: 620px;
   	flex: 0 1 100%;

   }
   nav {
   	  flex: 0 0 20%;
   }
   [role="main"] {
   	  flex: 0 2 80%;
   }

   h2 {
     width: 400px;
     text-align: left;
     margin: auto;
  }
/*
Regler för startsidan
*/
.startpage h2 {
   color: Black;
}

.kursivtext {

font-style: italic;

}