html {
    background-color: pink;
}
body {
    background-color: white;
    width: 800px;
    /*! text-align: center; */
    margin: auto;
    display: flex;
    flex-wrap: wrap;

}



header {
    height: 620px;
    flex: 0 1 100%;
}
nav {
    flex: 0 0 20%;
}

[role='main'] {
    flex: 0 0 80%;
}

h2 {
    width: 400px;
    text-align: left;
    margin: auto;
}

h3 {
  font-size: 23px;
    flex: 0 0 76%;
    text-align: center;
}

h4 {
    font-size: 24px;
    flex: 0 0 100%;
    text-align: center;

}
/*
Regler för startsidan
*/
.startpage h2 {
    color: Black;
}

.kursivtext {
    font-style: italic;
}
.album {
    display: flex;
    flex-wrap: wrap;
}
.album > h2 {
    margin-bottom: 1em;
    flex: 0 0 100%;
    text-align: center;
}
.album > img {
    margin-right: 20px;
}

.albuminfo {
    /* Använd vid behov */
    max-width: 60%;
}
.albuminfo > p:first-child {
    /* Linjera i topp med bild */
    margin: 0 0 1em;
}

.albumright {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.albumright > img {
  order: 1;
}
.albumright > h3 {
  flex: 0 0 100%;
}
